<!-- DAG查看模态框 -->
<div class="modal fade" id="dagModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dagModalTitle">DAG结构图</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="dagContainer" style="min-height: 500px;">
                    <!-- DAG图形将在这里显示 -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary">
                    <i class="fas fa-download me-2"></i>导出PNG
                </button>
                <button type="button" class="btn btn-outline-secondary">
                    <i class="fas fa-expand-arrows-alt me-2"></i>全屏查看
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>